This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [5]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [54]:
# First, import the relevant modules
import requests
import math
import pandas as pd
import numpy as np
import datetime
import json
from pandas.io.json import json_normalize

In [250]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key='


res = requests.get(url + API_KEY)
#Create Python dictionary
data = res.json()

In [208]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
df = json_normalize(data['dataset'], 'data')
df.columns = data['dataset']['column_names']
df

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2020-04-09,93.10,95.40,92.05,95.40,NaN,161578.0,15199731.20,None,None,NaN
1,2020-04-08,90.20,92.25,89.80,92.20,NaN,152911.0,14008042.75,None,None,NaN
2,2020-04-07,92.00,92.55,88.90,89.50,NaN,218796.0,19809733.65,None,None,NaN
3,2020-04-06,86.35,89.65,86.25,89.65,NaN,165074.0,14584495.75,None,None,NaN
4,2020-04-03,83.10,85.45,82.50,84.00,NaN,184124.0,15495174.40,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5099,2000-06-13,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
5100,2000-06-12,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
5101,2000-06-09,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
5102,2000-06-08,NaN,NaN,NaN,38.00,NaN,0.0,NaN,None,None,0.0
5103,2000-06-07,NaN,NaN,NaN,38.00,NaN,0.0,NaN,None,None,0.0

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [233]:
#Create Dataframe from Frankfurt Stock Exchange for the year of 2017
df2 = df[(df.Date >= '2017-01-01') & (df.Date <= '2017-12-31')]
df_2017 = df2.reset_index(drop=True)
df_2017['Close'][0]

51.76

In [223]:
#Get the highest and lowest opening prices during this period.
highest_open = max(df_2017['Open'])
lowest_open = min(df_2017['Open'])
print('Lowest open price: ' + str(lowest_open))
print('Highest open price: ' + str(highest_open))

Lowest open price: 34.0
Highest open price: 53.11

In [224]:
#Calculate the highest change in a day by subtracting the high's from the low's
max_change = max(df_2017['High'] - df_2017['Low'])
print('The largest change in a day: ' + str(max_change))

The largest change in a day: 2.8100000000000023

In [247]:
#Calculates the largest change between two days
max_close_change = max([(df_2017['Close'][i] - df_2017['Close'][i-1]) for i in range(1,len(df_2017['Close']))])
    
print('The largest change between two days: ' + str(max_close_change))
#max_close_change = max(df_2017[['Date', 'Close']] - df_2017['Date', 'Close'])

The largest change between two days: 2.559999999999995

In [248]:
avg_volume = df_2017['Traded Volume'].mean()    
print('The average daily volume for 2017 was: ' + str(avg_volume))

The average daily volume for 2017 was: 89124.33725490196